/* reset */

* {
    border: 0;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* style */

body {
    font-family: 'Lato', sans-serif;
    /* width: 100vw; */
    height: 10000px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/Coffe Header.png");
    background-size: cover;
    border-radius: 1rem;
}

header .container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1.5rem 2.5rem;
    background-color: rgba(37, 55, 60, .8);
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header .logo {
    flex: 1;
}

header .logo img {
    width: 40vw;
}

.container nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex: 0.5;
    padding: 1.618rem 0;
}

header .container ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* .container li {
    display: inline-block;
    
    margin: 1rem 5vw;
    
} */

.container a {
    color: white;
    text-decoration: none;
}

header .header-text {
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    /* background-color: coral; */
    flex: 7;
    justify-content: center;
    align-content: center;
    /* padding-top: 15%; */
    font-size: calc(1.8rem * 1.618);
}

header .header-text h1 {
    font-size: 1em;
    font-weight: 900;
    /* margin: 1rem 0; */
}

header .header-text p {
    font-size: calc(0.7em / 1.618);
    margin-top: 1rem;
}

.content .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.content .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    /* height: 53.335vw; */
    margin: 0 1.5rem;
    padding: 0 1.5rem;
}

.content .card h2 {
    font-size: 1.618rem;
    align-self: flex-start;
    font-weight: 800;
    color: #0f8b8d;
    padding-bottom: .8rem;
    margin-bottom: .8rem;
    border-bottom: 4.25px solid #ec9a29;
}

.content .card p {
    color: #143642;
    font-weight: 400;
}

/* --- */

.content .card .background-card-1 {
    width: 80vmin;
    height: calc((80vmin * 212.84) / 319.25);
    /* height: 53.335vmin; */
    background-image: url("./img/Who are we.jpg");
    background-size: cover;
    clip-path: inset(0 25% round 10px);
    margin-bottom: 1rem;
}

.content .card .background-card-2 {
    /* width: 155px;
    height: 232.73px; */
    width: 40vmin;
    height: calc((40vmin * 232.73) / 155);
    /* height: 52.552vmin; */
    background-image: url("./img/Our products.jpg");
    background-size: cover;
    clip-path: inset(15% 0 round 10px);
    margin: -1rem 0;
    /* position: relative;
    top: 1rem; */
}

.content .card .background-card-3 {
    /* width: 276.13px;
    height: 155px; */
    width: 72vmin;
    height: calc((72vmin * 155) / 276.13);
    background-image: url("./img/Hang out with us.jpg");
    background-size: cover;
    clip-path: inset(0 22% round 10px);
    margin: 1rem 0;
    /* position: relative;
    top: 1rem; */
}

.content .card a {
    font-weight: 400;
    background-color: #a8201a;
    width: 40vw;
    border-radius: 2rem;
    padding: calc(1rem / 1.618) 1rem;
    margin: 1rem 0 2rem;
    align-self: flex-start;
    text-align: center;
}

.content .galery-wrapper {
    padding: 1rem;
}

.content .galery {
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1rem;
    justify-content: space-around;
}

.content .galery img {
    width: 25%;
}

.content .galery-wrapper h2 {
    text-align: center;
    font-weight: 800;
    color: #0f8b8d;
}

.content .galery-wrapper a {
    color: #ec9a29;
    font-weight: 800s;
    border-bottom: 2px solid #ec9a29;
}

.content .contact-wrapper {
    padding: 1rem;
    text-align: center;
}

.content .contact-wrapper h2 {
    color: #0f8b8d;
    font-weight: 800;
    margin-bottom: calc(1rem / 1.618);
}

.content .contact-wrapper p {
    padding: 1rem 1.618rem;
}

.content .contact-wrapper a {
    background-color: #a8201a;
    border-radius: 2rem;
    width: 40vw;
    padding: calc(1rem / 1.618);
    display: inline-block;
    margin: calc(1rem / 1.618)
}

footer .container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1.5rem 2.5rem;
    background-color: #143642;
    border-radius: 1.618rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer .logo-wrapper {
    display: flex;
    font-size: 2rem;
    color: #f9fbfe;
    flex-wrap: wrap;
}

footer .logo img {
    width: 40vw;
}