/* reset */

html {
    font-size: 12px;
}

* {
    border: 0;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* style */

body {
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #0f8b8d;
    border-radius: 1.618rem 1.618rem 0 0;
}

header .container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1.5rem 2.5rem 0;
    border-radius: 1.618rem;
    display: flex;
    flex-direction: column;
}

header .header-logo {
    display: flex;
    flex-direction: column;
    flex: 2;
}

header .header-logo .logo {
    display: flex;
    flex: 1;
    align-items: center;
}

header .header-logo .logo img {
    width: 40vw;
    min-width: 166.39px;
    max-width: 284.8px;
}

header .header-logo nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex: 0.5;
    padding: 1.618rem 0;
}

header .container ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container a {
    color: white;
    text-decoration: none;
}

.content .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 10vw;
    margin: 2rem 0 3rem;
}

.content .container .image-wrapper {
    margin-bottom: 2rem;
}

.content .container .image-wrapper img {
    width: 80vw;
}

.content .container .image-wrapper h1 {
    color: #0f8b8d;
    font-weight: 700;
}

.content .container .image-wrapper p {
    color: #143642;
    font-size: 1.2em;
    font-weight: 400;
    padding: calc(1rem / 1.618) 0;
}

.content .container .image-wrapper p.price {
    color: #0f8b8d;
    font-size: 2.5em;
    font-weight: 900;
    padding: 0;
}

.content .container .description h2 {
    color: #0f8b8d;
    font-size: 2em;
    font-weight: 500;
    padding: calc(1rem / 1.618) 0;
    border-bottom: #ec9a29 solid 1px;
}

.content .container .description p {
    color: #143642;
    font-size: 1.2em;
    font-weight: 400;
    padding: calc(1rem / 1.618) 0 2rem;
    border-top: #ec9a29 solid 1px;
}

.content .container .description a {
    background-color: #a8201a;
    display: inline-block;
    border-radius: 5vw;
    padding: calc(1em / 1.618) 1em;
}

.content .container .description a:active {
    transform: scale(90%,90%);
}

.content .container .description .fa-chevron-left {
    margin-right: .5rem;
}

footer .container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem 2rem;
    margin-top: 2rem;
    background-color: #143642;
    border-radius: 1.618rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer .logo-wrapper {
    display: flex;
    font-size: 2rem;
    color: #f9fbfe;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
}

footer .logo {
    flex: 7;
}

footer .logo img {
    width: 165.59px;
}

footer .fa {
    padding: calc(1rem / 1.618)
}

footer h3 {
    color: #ec9a29;
    margin: calc(1rem / 1.618) 0;
}

footer li {
    margin: calc(1rem / 1.618) 0 calc(1rem / 1.618) 2rem;
}

footer .copyright {
    text-align: center;
    color: #f9fbfe;
    margin: 2rem 0;
}